.content {
    width: 100%;
    min-width: 890px;
    /*background: yellow;*/
    padding-top: 116px;
}

.center {
    width: 860px;
    height: 426px;
    margin-top: 16px;
    margin-bottom: 116px;
}

#box {
    min-width: 890px;
    min-height: 743px;
}



.center div:first-child img:nth-child(odd) {
    width: 278px;
    height: 140px;
}

.center div:first-child img:nth-child(even) {
    width: 162px;
    height: 140px;
}

.center div:last-child img:nth-child(odd) {
    width: 162px;
    height: 140px;
}

.center div:last-child img:nth-child(even) {
    width: 240px;
    height: 140px;
}

.center div:first-child {
    width: 455px;
    height: 100%;
}

.center div:last-child {
    width: 404px;
    height: 100%;
}

.center div img:nth-child(3) {
    margin: 3px 0;
}


.center div img:nth-child(4) {
    margin: 3px 0;
}





